body{
    margin: 50px 15px 10px 20px;
    padding-bottom: 50px !important;
    /* padding: 5%; */
    background-color: rgb(62, 61, 61);
    /* background-image: linear-gradient(yellow,rgba(255, 0, 0, 0.55)); */

}

img{
    width: 100% !important;
    height: 200px;
    
}
.card{
    background-image: linear-gradient(rgb(243, 243, 239),red);
}
.card>h3{
    background-color: black;
    color: white;
}
.card-body{
    color: white;
}